# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
my_int = 24

print(my_int)
print(type(my_int))

24
<class 'int'>

##### Assinging float

In [2]:
my_float = 3.14

print(my_float)
print(type(my_float))

3.14
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [3]:
12 + 10

my_int + my_float

27.14

In [4]:
my_int + 5
my_int = my_int +5
print(my_int)

29

##### Subtraction

In [5]:
my_int - 4

25

##### Multiplication

In [6]:
my_float * 2

6.28

##### Division

In [7]:
type(10 / 4)

int(10/4)

2

##### Floor Division

In [8]:
10//4

2

##### Modulo

In [9]:
11 % 2
19%5

4

##### Exponential

In [10]:
10 ** 2

2**3

8

### String Input-Output

##### String Assignment

In [11]:
a_string = "hello world"

print(a_string)

print(type(a_string))

hello world
<class 'str'>

##### print() <br>
<p>Don't forget about end=' '</p>

In [12]:
print(a_string, end=' at end of string\n')
print(" Typically on a new line")
print("new line")

hello world at end of string
 Typically on a new line
new line

##### String Concatenation

In [13]:
a_string + " at the end"

'hello world at the end'

##### Type Conversion

In [14]:
print(type(str(my_int)))

<class 'str'>

##### input()

In [15]:
user_name = input("What is your name?: ")

print(user_name)

What is your name?: Tan
Tan

##### format()

In [16]:
"user name is {} and age is {}".format(user_name, 33)

f'User name is {user_name} and age is {33}'

'User name is Tan and age is 33'

##### Old Way (python 2)

In [17]:
"Foo %s %d" %(user_name, 33)

'Foo Tan 33'

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [18]:
color = input("What color is your car?: ")
year = input("What  year is your car?: ")
make = input("What make is your car?: ")
model = input("What model is your car?: ")


f'Your car is {color} {year} {make} {model}'

What color is your car?: gray
What  year is your car?: 2023
What make is your car?: lexus
What model is your car?: rx

'Your car is gray 2023 lexus rx'

### If Statements

In [27]:
# if <boolean expression>:
#    <action to run if boolean true>
if True:
    print("True")
    
if False:
    print("False")
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)
if 10<=11:
    print("10 < 11")
# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

True
10 < 11

##### 'is' keyword

In [32]:
if 10 == 10:
    print("10 is 10")
    
my_dict = {'foo':'bar'}
my_dict_copy = my_dict
print(my_dict_copy)

my_dict is my_dict_copy

10 is 10
{'foo': 'bar'}

True

##### 'in' keyword

In [35]:
'b' in'brandt'
'b' in 'Brandt'

False

##### 'not in' keyword'

In [36]:
'p' not in 'Padawans'

True

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [39]:
word = input("Input a input: ")
if 'p' in word:
    print("p is in the input")
else:
    print("p is not in the input")

Input a input: blue
p is not in the input

## Using 'and'/'or' with If Statements

In [42]:
if False:
    print('false')
elif True:
    print("true")
    
if 10 == 10:
    print("10 == 10")
elif 10 > 8:
    print("10 > 8")

true
10 == 10

### Elif Statements

In [ ]:
if 10 == 10:
    print("10 == 10")
elif 10 > 8:
    print("10 > 8")

### Else Statements

In [43]:
input = 8
if 10 < input:
    print("10 < input")
else:
    print("10 > input")

10 > input

### For Loops

In [47]:
school = 'coding temple'
letter = 'e'
for letter in school:
    print(letter)
    print("2nd action")
print("exit loop")

c
2nd action
o
2nd action
d
2nd action
i
2nd action
n
2nd action
g
2nd action

2nd action
t
2nd action
e
2nd action
m
2nd action
p
2nd action
l
2nd action
e
2nd action
exit loop

##### Using 'in' keyword

In [21]:
# see above

##### Continue Statement

In [22]:
# will continue to next iteration

In [54]:
for num in range(10):
    if num == 4:
        continue
    print(num)
    
    

print(list(range(10)))

0
1
2
3
5
6
7
8
9
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

##### Break Statement

In [23]:
# will break out of current loop

In [55]:
for num in range(10):
    if num == 4:
        break
    print(num)

0
1
2
3

##### Pass Statement

In [24]:
# mostly used as a placeholder, and will continue on same iteration

In [56]:
for num in range(10):
    if num == 4:
        pass
    print(num)

0
1
2
3
4
5
6
7
8
9

##### Double For Loops

In [59]:
for num in range(5):
    print('entering outter loop')
    for letter in 'dylan':
        print(f'{num = } {letter = }')
    print('completed inner loop')

entering outter loop
num = 0 letter = 'd'
num = 0 letter = 'y'
num = 0 letter = 'l'
num = 0 letter = 'a'
num = 0 letter = 'n'
completed inner loop
entering outter loop
num = 1 letter = 'd'
num = 1 letter = 'y'
num = 1 letter = 'l'
num = 1 letter = 'a'
num = 1 letter = 'n'
completed inner loop
entering outter loop
num = 2 letter = 'd'
num = 2 letter = 'y'
num = 2 letter = 'l'
num = 2 letter = 'a'
num = 2 letter = 'n'
completed inner loop
entering outter loop
num = 3 letter = 'd'
num = 3 letter = 'y'
num = 3 letter = 'l'
num = 3 letter = 'a'
num = 3 letter = 'n'
completed inner loop
entering outter loop
num = 4 letter = 'd'
num = 4 letter = 'y'
num = 4 letter = 'l'
num = 4 letter = 'a'
num = 4 letter = 'n'
completed inner loop

### While Loops

In [60]:
num = 0

while num < 10:
    print(num)
    num += 1
print('exit loop', num)

0
1
2
3
4
5
6
7
8
9
exit loop 10

##### Looping 'While True'

In [6]:
while True:
    print("playing game")
    playing = input("Are you still playing?: ")
    if playing == "no":
        break

playing game
Are you still playing?: a
playing game
Are you still playing?: no

##### While & For Loops Used Together

In [76]:
num = 0

while num < 5:
    for num2 in range(5):
        print(f'{num = } {num2 = }')
    num +=1

num = 0 num2 = 0
num = 0 num2 = 1
num = 0 num2 = 2
num = 0 num2 = 3
num = 0 num2 = 4
num = 1 num2 = 0
num = 1 num2 = 1
num = 1 num2 = 2
num = 1 num2 = 3
num = 1 num2 = 4
num = 2 num2 = 0
num = 2 num2 = 1
num = 2 num2 = 2
num = 2 num2 = 3
num = 2 num2 = 4
num = 3 num2 = 0
num = 3 num2 = 1
num = 3 num2 = 2
num = 3 num2 = 3
num = 3 num2 = 4
num = 4 num2 = 0
num = 4 num2 = 1
num = 4 num2 = 2
num = 4 num2 = 3
num = 4 num2 = 4

### Built-In Functions

##### range()

In [72]:
list(range (10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

##### len()

In [80]:
len('brandt')

list(range(len('brandt')))
instructor = 'brandt'

for i in range(len(instructor)):
    print(f'{i = } {instructor[i]}')

i = 0 b
i = 1 r
i = 2 a
i = 3 n
i = 4 d
i = 5 t

##### help()

##### isinstance()

In [81]:
type('abc')

isinstance(0, int)

True

##### abs()

### Try and Except

### Lists

##### Declaring Lists

In [7]:
a_list = []
print(a_list, type(a_list))

[] <class 'list'>

##### Indexing a List

In [9]:
l_1 = [1, 'one', True, [], 5.0]
l_2 = [1, 2, 3, 4, 5]

print(l_2[3])
print(l_1[6])

4

IndexError: list index out of range

##### .append()

##### .insert()

In [11]:
l_1.insert(0,'FIRST')
print(l_1)

['FIRST', 'FIRST', 1, 'one', True, [], 5.0]

##### .pop()

In [12]:
last = l_1.pop()
print(l_1)
print(last)

['FIRST', 'FIRST', 1, 'one', True, []]
5.0


##### .remove()

In [13]:
l_1.remove('FIRST')

In [14]:
print(l_1)

['FIRST', 1, 'one', True, []]

##### del()

In [15]:
del(l_1[-1])

In [16]:
print(l_1)

['FIRST', 1, 'one', True]

##### Concatenating Two Lists

In [17]:
l_3 = l_1 + l_2
print(l_3)

['FIRST', 1, 'one', True, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [22]:
confused = ['one', 1, [0,1,2],['buried'], 90, -76, 'the', 'end']
print(confused[3][0])

buried

##### Looping Through Lists

In [24]:
num_list = [5,6,7,8,9,10]

In [30]:
#for item in collection
    #code to run on ITEM
for num in num_list:
    print(num+5)
    
for i in range(len(num_list)):
    print(i, num_list[i])

10
11
12
13
14
15
0 5
1 6
2 7
3 8
4 9
5 10

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [1]:
for num in range(50):
    if num**3 > 1000:
        break
    print(num**3)

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [34]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
prime_numbers=[]
num =2
for num in range(2,101):
    for i in range(2,num):
        if num % i == 0:
            break
    else:
        prime_numbers.append(num)
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [5]:
age = int(input("Enter your age: "))
if age < 18:
    print("kids")
elif age >=18 and age <=65:
    print("adults")
else:
    print("senior")

Enter your age: 66
senior